


.intro #video-service{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/web5.webp");
    background-size: cover;
}


.service{
    margin-top: 120px;

}
.section .row{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section{
    background-color: #040402;
    color: #fff;
    padding-left: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
.section .row .col-lg-7{
    padding-top: 0px;
    margin-top: 0px;
}
.section .row .col-lg-5{
    opacity: 100%;
}

.section .row .col-lg-5 .img-fluid{
    height: 470px;
}
.react{
    font-size: 25rem;
}
.data {
    position: relative;
  
}

.data h1{
    font-size: 5.2rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 15%;

}

section .btn {
    background-color: #fff;
    position: relative;
    top: 50px;
    padding: 12px 25px;
    border: none;
    color: #191919;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}

.section .progress {
    border-radius: 0;
    height: 7px;
    opacity: 50%;
}

.section .progress-sec {
    position: relative;
    padding-bottom: 70px;
}

.section  h2 {
    font-size: 2rem;
    color: #fff;
    opacity: 15%;
    text-transform: uppercase;
    
}

.section .row .col-lg-6 h1{
    font-weight: 900;

}
.section .row .col-lg-6 img{
    width:550px;
    float:right;

}





/* Services Cards */

.services-list{
    background-color: #040402;
    padding-left: 100px;
    padding-right: 100px;
   
}
.services-list .row{
    padding-top: 50px;
    padding-bottom: 50px;

}
.services-list .row .col-sm{
    background-color: #272727;
    margin: 10px;
    padding: 20px;
    opacity: 15%;
}

.services-list .row .col-sm h1{
    font-size: 2rem ;
    font-weight: bold;
    color:#fff;
    padding-top: 25px;

}
.services-list .row .col-sm p{
    color:#fff;
    font-size: 1.3rem;
    padding-top: 25px;
    width: 100%;
}
.services-list .row .col-sm .icons{
    font-size: 6rem;
    color:#fff;
    padding-top: 25px;
}



.service-why{
    background-color: #040402;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    

}

.container-fluid .col-lg-12 h1{
    font-size: 5.2rem;
    font-weight: bold;
    color:#fff;
    opacity: 15%;
    text-align: right;

}
.container-fluid .col-lg-12 p{
    color:#fff;
}
.container-fluid .col-lg-12 tr:hover {
    background-color: #0a0a0a;
    opacity: 20%;
    cursor: pointer;

}

.container-fluid tbody td{
    font-size: 3rem;
    color:#fff;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Container Fluid */

@media screen and (max-width: 1400px){

    .service .row .col-lg-7 .data{
        padding-left: 50px;
    }
    .service .row .col-lg-7 .data h1{
        font-size: 4rem;
    }
    .service .row .col-lg-7 .data p{
        font-size: 1.2rem;
    }

    .service .row .col-lg-5 .img-fluid{
        height: 400px;
    }
    .service .row .col-lg-7 .data h2{
        font-size: 1.7rem;
    }

    .service-why{
        padding-left: 50px;
        padding-right: 50px;
    }

    .service-why .row .col-lg-12 h1{
        font-size: 4rem;
    }




}

@media screen and (max-width: 1280px) {

    

    .service .row .col-lg-7 .data h1{
        font-size: 3.5rem;
    }
    .service .row .col-lg-7 .data p{
        font-size: 1.1rem;
    }

    .service .row .col-lg-5 .img-fluid{
        height: 370px;
    }
    .service .row .col-lg-7 .data h2{
        font-size: 1.5rem;
    }
    .service-why .row .col-lg-12 h1{
        font-size: 3.5rem;
    }

    .accordion-button{
        background-color: #000;
        font-size: 2.3rem;
        font-weight: 900;
        padding-top: 40px;
        padding-bottom: 40px;
        color: #fff;
    
    
    }



}

@media screen and (max-width: 1000px){


    .service .row .col-lg-7 .data{
        padding-left: 0;
    }


    .section .row{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .section .row .col-lg-6 .img-fluid{
        display: block;
        position: relative;
       
    }
    .section{
        padding-left: 25px;
        padding-right: 25px;
    }

    .section .row  .col-lg-6 h1{
        display: none;
    }

    

    .service .row .col-lg-7 .data h1{
        font-size: 2.3rem;
    }
    .service .row .col-lg-7 .data p{
        font-size: 1.3rem;
    }

    
    .service .row .col-lg-7 .data h2{
        font-size: 1.5rem;
    }

    .services-list{
        padding-left: 25px;
        padding-right: 25px;
    }

   


}



@media screen and (max-width: 780px){
    .service .row .col-lg-7 .data{
        padding-left: 0;
    }

    .service .row{
        padding-left: 20px;
        padding-right: 20px;
    }

    .service .row .col-lg-7 .data h1{
        font-size: 3.5rem;
    }
    .service .row .col-lg-7 .data p{
        font-size: 1.2rem;
    }

    .service .row .col-lg-5 .img-fluid{
        display: block;
        width: 80%;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        height: 400px;


    }
    .service .row .col-lg-7 .data h2{
        font-size: 1.5rem;
    }
    .service-why{
        padding-left: 20px;
        padding-right: 20px;
    }
    .service-why .row .col-lg-12 h1{
        font-size: 2.7rem;
    }

    .service-why tbody td{
        font-size: 1.7rem;
    }


}




@media screen and (max-width: 580px) {

    html,
    body {

        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
   
    .section .row{
        padding-bottom: 20px;
        padding-top: 40px;
    }

    .service .row .col-lg-7 .data h1{
        font-size: 2.3rem;
    }
    .service .row .col-lg-7 .data p{
        font-size: 1.3rem;
    }

    .service .row .col-lg-5 .img-fluid{
        display: block;
        width: 100%;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        height: 300px;


    }
    .service .row .col-lg-7 .data h2{
        font-size: 1.5rem;
    }

    .services-list{
        padding-left: 0;
        padding-right: 0;
    }
   
    .service-why .row .col-lg-12 h1{
        font-size: 2.3rem;
        text-align: center;
        padding-bottom: 25px;
    }


}
@media screen and (max-width: 580px) {

    
    .services-list{
        padding-left: 20px;
        padding-right: 20px;

    }
    .service-why{
        padding-left: 20px;
        padding-right: 20px;
    }

    .services-list .row .col-sm{
        margin: 0px;
        margin-bottom: 20px;
    }
}

