

 .intro-work{
    height: 600px;
}



.portfolio {
    padding-bottom: 50px;
    margin-top: 120px;
    background-color: #0A0A0A;
    color: #fff;
   
}


.portfolio .row  {

    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    padding-bottom: 70px;
  



}
.portfolio .row .col-lg-7{
    opacity: 20%;
}
.portfolio .row .col-lg-5{
    margin-top:10%;
}

.portfolio .row .col-lg-5 h1{
    font-size: 4rem;
   
}
.portfolio  h1, h2{
    color: #fff;
    opacity: 20%;

}


.portfolio .title {
    padding-top: 75px;
    padding-bottom: 75px;
}

.portfolio .title h1{
    font-size: 5.2rem;
    font-weight: bold;
}


.portfolio .col-sm h2 {


    font-size: 1.7rem;
    font-weight: Bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.portfolio .col-sm .image {

    height: 400px;
    margin-bottom: 20px;
}


.portfolio .col-sm p {
    font-size: 1.3rem;
    width: 60%;
}
@media screen and (max-width: 1280px){

    .portfolio .row .col-lg-5 h1{
        font-size: 3rem;
    }
    .portfolio .row .col-lg-5 h2{
        font-size: 1.4rem;
    }
    .portfolio .row{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 1000px){

    .portfolio .title{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .portfolio .title h1{
        text-align: center;
    }

    .portfolio .row{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }
    .portfolio .row .col-lg-5 h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .portfolio .row .col-lg-5 h2{
        text-align: center;
    }
}
@media screen and (max-width: 780px) {

    .portfolio .title h1 {
        font-size: 3rem;
    }
    .portfolio .row .col-lg-5{
        margin-top: 0px;
    }
    .portfolio .row .col-lg-5 h2{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .portfolio .row .col-lg-5 h1{
        font-size: 2rem;
        margin-bottom: 20px;

    }

}

@media screen and (max-width: 580px) {

   

    .portfolio .title {
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;
    }



}