html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat";
    color: #000;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.3rem;
}

/* Main Section */
.intro {
    position: relative;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;

}

.intro h1 {
    font-weight: 900;
    font-size: 10rem;
}

.intro .video {
    position: relative;
    margin-top: 40px;
    margin-bottom: 70px;
    height: 110px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/web11.jpg");
    background-size: cover;
    border-radius: 50px;
}

.intro .video .icon {
    font-size: 100px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.intro .button {
    font-size: 1.4rem;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    border: 1px solid #101010;
    margin-right: 20px;
    text-decoration: none;
    color: #101010;
    text-transform: uppercase;

}

.intro-image {
    position: relative;
    margin-top: 150px;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/web11.jpg");
    background-size: cover;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.intro-image .span {
    position: relative;
    top: -80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #000;
}




.intro-image .span {
    font-size: 20px;
    color: #fff;
}

/* New Services */

.marquee-w {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}



.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    color: #fff;
    opacity: 20%;
    font-weight: bold;
    white-space: nowrap;
    height: 100%;
    line-height: 140px;
    font-size: 85px;
    animation: marquee 7s linear infinite;
}


@keyframes marquee {

    0% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(-100%, 0);
    }

}

.new-services {
    position: relative;

}

.service-intro {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #101010;
    color: #fff;
}

.service-intro h1 {
    font-size: 3.6rem;
    font-weight: 900;
    text-align: right;
    opacity: 20%;
}

.our-services {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #0A0A0A;
    color: #fff;
}

.our-services .col-lg-4 .buttons {
    position: relative;
    margin-top: 20px;
}

.table {
    border: none;
    position: relative;
    padding-top: 50px;
}

.table td .icon-link{
    color:#fff;
}

.new-services .our-services h1 {
    font-size: 5.2rem;
    font-weight: bold;
    opacity: 15%;
}

.new-services .our-services img {
    width: 150px;
    height: 60px;
}

.new-services .our-services p {
    width: 90%;
    opacity: 15%;
}

.new-services .our-services button {
    position: relative;
    margin-top: 20px;
    padding: 15px 40px 15px 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 1.2rem;
    opacity: 15%;
    cursor: pointer;

}



.new-item {

    position: relative;
    padding-top: 70px;


}

.new-item .table {
    border: none;
}

.new-item td {
    font-size: 3rem;
    color: #fff;
    opacity: 10%;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 40px;


}

.new-item tr:hover {
    background-color: #272727;
    opacity: 20%;
    cursor: pointer;

}




.creative {
    position: relative;
    margin-top: 70px;
    background-color: #272727;
    padding: 100px;
    opacity: 30%;
}

.creative h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    opacity: 10%;

}

/*.new-item tr:hover{
    background-color: #fff;
    opacity: 10%;
    color: #fff;
}*/

/* 404 Page */

.NoPage {

    position: relative;
    height: 400px;
    padding-top: 150px;
    font-family: "Merriweather Sans";


}
.topnav-right{

    position: relative;
    padding-left: 480px;
    width: 100%;
    float: right;
}

.navbar{
    overflow: hidden;
    position: absolute;
    padding-left: 120px;
    padding-right: 200px;
    padding-top: 25px;
    top: 0;
    z-index: 1;
    width: 100%;
    height: fit-content;
}

.nav-link{
    font-size: 1.1rem;
    text-transform: uppercase;
    color:#000;
}

.navbar .brand{
  /*  font-size: 1.6rem;
    font-weight: bold;*/
}
 

.mb-3 {
    overflow: hidden;
    position: absolute;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 25px;
    top: 0;
    z-index: 1;
    width: 100%;
    height: fit-content;
    background-color: transparent;

}

.navbar-toggler{
    color:#000;
    border: none;
    opacity: 100%;
}


/* Swiper */


:root {
    --white-100: hsl(206, 5%, 100%);
    --white-200: hsl(206, 5%, 90%);
    --white-300: hsl(206, 5%, 80%);
    --white-400: hsl(206, 5%, 65%);
    --white-500: hsl(206, 5%, 45%);

    --black-100: hsl(210, 20%, 10%);
    --black-200: hsl(210, 20%, 8%);
    --black-300: hsl(210, 20%, 6%);
    --black-400: hsl(210, 20%, 4%);
    --black-500: hsl(210, 20%, 1%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

/*body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black-500);
    background-color: var(--white-100);
}*/

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    background: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}


.container {
    max-width: 75rem;
    height: auto;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.swiper {

    &-button-next::after,
    &-button-prev::after {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: 800;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        opacity: 0.75;
        border-radius: 50%;
        color: var(--white-100);
        background: var(--black-300);
    }
}












/* Work */

.work {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #0a0a0a;


}

.work .col-lg-7{

    opacity: 15%;

}

.work h1 {
    font-size: 5.2rem;
    padding-bottom: 40px;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
}



.work .img-fluid {
    height: 600px;
}




/* New Contact */

.new-contact {
    background-color: #0A0A0A;
    padding-left: 100px;
    padding-right: 100px;

}


.contact-intro {
    background-color: #272727;

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    padding-top: 100px;
    padding-bottom: 200px;
    opacity: 30%;
}

.contact-intro h1 {
    font-size: 6rem;
    width: 100%;
    color: #fff;
    font-weight: bold;
    opacity: 30%;

}
.contact-intro .text-center span{
    opacity: 30%;
    position: relative;
   top: 40px;
}

.contact-intro .contact-icon{
    color: #fff;
    font-size: 70px;
    padding: 10px;
}

.contact-intro .contact-btn {
    position: relative;
    margin-top: 70px;
    opacity: 30%;
  

}
.contact-intro .contact-btn .button{
    font-size: 1.6rem;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    border: 1px solid #fff;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    
}

.contact-intro button {
    padding: 15px 40px 15px 40px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 1.4rem;
    margin-right: 20px;
}







/* Testimonials */


@media screen and (max-width: 1400px) {

    .navbar{
        padding-left: 50px;
        padding-right: 50px;
    }

    .topnav-right{
        padding-left: 420px;
 }

    .mySwiper {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .intro h1 {
        font-size: 6rem;
    }

    .intro .video {
        margin-top: 0px;
    }

    .intro p {
        font-size: 1.2rem;
        width: 100%;
    }
}

/* Media Query */
@media screen and (max-width: 1280px) {

    .topnav-right{
        padding-left: 150px;       
    }

    .intro .button {
        font-size: 1.3rem;
    }

    .intro .video {
        height: 80px
    }

    .intro .video .icon {
        font-size: 70px;
    }

    .intro p {
        font-size: 1.1rem;
        width: 100%;
    }
    .work .container .row h1 {
        padding-bottom: 50px;
        font-size: 2.4rem;
    }

    .mySwiper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {

    .topnav-right{
        padding-left: 0px;
        
    }

    .navbar .brand{
        width:45%;
    }
    .intro .video {
        margin-top: 40px;
        width: 50%;
    }


    .intro-image {
        height: 450px;
    }

    .service-intro {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .marquee span {
        font-size: 4rem;
    }

    .our-services {
        padding-left: 50px;
        padding-right: 50px;
    }

    .our-services .row .col-lg-7 h1 {
        font-size: 4rem;
    }

    .our-services tbody td {
        font-size: 2.3rem;
    }

    .our-services .creative {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .our-services .creative h1 {
        font-size: 3.5rem;
    }
    .work{
        padding-left: 20px;
        padding-right: 20px;
    }

    .work .col-lg-7 h1 {
        font-size: 4rem;
        text-align: center;
    }

    .contact-intro {
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .new-contact .contact-intro h1 {
        font-size: 4rem;
    }

    .contact-intro .contact-btn .button {
        font-size: 1.2rem;
    }





    .expertise {
        padding-top: 10px;
    }

    .expertise .offer {
        padding-top: 10px;
    }

    .testim .text {
        position: relative;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .testim p {
        font-size: 1.1rem;
    }


   



    .expertise .sec-right .img-fluid {
        width: 75%;
        position: relative;
        top: 170px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: none;

    }

    .expertise .item .row {

        margin-top: 10px;

    }



    .expertise .item .row .col-sm {
        margin: 0px;
    }

    .mySwiper .img-fluid {
        height: 450px;
    }

    .title-testimonial {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 780px) {

    .navbar{
        padding-left: 25px;
        padding-right: 25px;
    }

    .navbar .brand{

        font-size: 1.3rem;

    }

    .topnav-right .nav-link{
        font-size: 1.1rem;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

   

    .intro {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }


    .intro h1 {
        font-size: 4rem;
        text-align: left;
    }

    .intro p {

        font-size: 1.2rem;

    }

    .intro-image {
        height: 400px;
    }

    .intro-image .span {
        width: 150px;
        height: 150px;
    }


    .intro .button {
        font-size: 1.2rem;
        padding: 12px 35px 12px 35px;
    }




    .marquee span {
        font-size: 3.5rem;
    }

    .our-services .row .col-lg-7 h1 {
        font-size: 2.5rem;
    }

    .our-services .row .col-lg-7 p {
        font-size: 1.2rem;
    }

    .our-services tbody td {
        font-size: 1.7rem;
    }

    .our-services .creative h1 {
        font-size: 2.5rem;
    }

    .work {
        padding-left: 20px;
        padding-right: 20px;
    }

    .work .row .col-lg-7 h1 {
        font-size: 2.5rem;
    }

    .contact-intro {
        padding-top: 70px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 70px;

    }

    .new-contact .contact-intro h1 {
        font-size: 2.5rem;
    }

    .new-contact .contact-intro button {
        font-size: 1rem;
        margin-top: 20px;
    }

    .contact-intro .disappear {
        display: none;
    }




    .mySwiper .img-fluid {
        height: 350px;
    }



    .title-testimonial h1 {

        font-size: 2rem;

    }

    .work .title {
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .work .title h1 {
        font-size: 2rem;
    }

    .testim .col-lg-4 {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }





    .contact .container .row .col-lg-6 h1 {

        width: 100%;

    }

    .contact .container .row .col-lg-6 p {

        width: 100%;

    }

    .contact-form {

        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }




}

@media screen and (max-width: 580px) {


    .topnav-right .nav-link{
        font-size: 1.1rem;
    }

    .intro {
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;

    }

    .intro .row .col-lg-7 {
        width: 100%;
    }

    .intro h1 {
        font-size: 4rem;
        padding-bottom: 20px;
        text-align: center;
    }

    .intro .disappear {
        display: none;
    }

    .intro p {
        font-size: 1.1rem;
        padding-top: 40px;
        text-align: center;
    }

    .intro .button {
        position: relative;
        top: 10px;
        margin-right: 0px;
        bottom: 40px;
    }

    .video {
        display: none;
    }

    .intro-image {
        height: 300px;
    }

    .intro-image .span {
        width: 130px;
        height: 130px;
        position: relative;
        top: -70px;
    }

    .service-intro {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .marquee span {
        font-size: 2.5rem;
    }

    .new-services .our-services .row .col-lg-7 h1 {
        font-size: 2.3rem;
    }

    .new-services .our-services .row .col-lg-7 p {
        font-size: 1.1rem;
    }

    .new-services .our-services tbody td {
        font-size: 1.7rem;
    }

    .our-services .creative h1 {

        font-size: 2rem;

    }

    .work .row .col-lg-7 h1 {
        font-size: 2.3rem;
    }

    .new-contact {
        padding-left: 50px;
        padding-right: 50px;
    }

    .new-contact .contact-intro h1 {
        font-size: 2.2rem;
    }

    .new-contact .contact-intro .contact-btn .button {
        position: relative;
        font-size: 1rem;
        margin-right: 0px;
       
    }



   


    .mySwiper {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .mySwiper .img-fluid {
        height: 300px;
    }


    .work .container .row h1 {
        padding-bottom: 10px;
        font-size: 2rem;
        text-align: left;
    }

    .work .container .row {
        position: relative;
        padding: 20px;
        margin-bottom: 0px;

    }

    .work .container .row .col-sm {
        margin-bottom: 20px;

    }



    .testim {
        padding-left: 20px;
        padding-right: 20px;
    }

    .testim .text {
        width: 100%;
    }

    .testimonials {
        position: relative;
        padding-left: 25px;
        padding-bottom: 25px;
    }

    .testimonials .container .row {
        position: relative;
        padding: 20px;
    }

    .testimonials .container .row .btn {
        display: none;

    }

    .testimonials .container .row .col-sm {
        margin: 0;
        margin-bottom: 20px;


    }


}

@media screen and (max-width: 480px){

    .our-services{
        padding-left: 20px;
        padding-right: 20px;
    }

    .intro{
        padding-left: 20px;
        padding-right: 20px;
    }

    .new-contact{
        padding-left: 20px;
        padding-right: 20px;
    }

    .work .title{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}




